.btn {
  border-radius: 40px;
  border: 0; 
  font size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase:
    white-space: nowrap;
}
.btn--primary {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--primary:hover {
  background: rgb(230, 105, 105);
}
.btn--secondary {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--secondary:hover {
  background: rgb(230, 105, 105);
  }
.btn--accent {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--accent:hover {
  background: rgb(230, 105, 105);
}
