body { color: #191970;
}
.arial { font-family: arial;}
.btn {
  border-radius: 40px;
  border: 0; 
  font size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase:
    white-space: nowrap;
}
.btn--primary {
  background: dodgerblue;
  color: white;
}
.btn--primary:hover {
  background: rgb(8, 123, 238);
}
.btn--secondary {
  background: dodgerblue;
  color: white;
}
.btn--secondary:hover {
  background: rgb(8, 123, 238);
  }
.btn--accent {
  background: dodgerblue;
  color: white;
}
.btn--accent:hover {
  background: rgb(8, 123, 238);
}
