.h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Montserrat',sans-serif;
  -webkit-text-fill-color:transparent;
  -webkit-text-stroke: 2px rgb(34,44,71);
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: Lato, Helvetica, sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px rgb(34,44,71);
}
.javascripts-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: Lato, Helvetica, sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px rgb(34,44,71);
}
.aboutme-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: Lato, Helvetica, sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px rgb(34,44,71);
}
.sandwhich {
  font-famly: Lato, Helvetica, sans-serif;
  position: center;
  margin-bottom: 20px;
  text-align: center;
  width: 400px;
  color: rgb(247, 85, 86);
}
.calzone {
  font-famly: Lato, Helvetica, sans-serif;
  position: center;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 15px;
  width: 400px;
  color: rgb(247, 85, 86);
}
.city {
  font-famly: Lato, Helvetica, sans-serif;
  position: center;
  margin-bottom: 20px;
  text-align: center;
  width: 400px;
  color: rgb(247, 85, 86);
}
.btn {
  border-radius: 40px;
  border: 0; 
  font size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase:
    white-space: nowrap;
}
.btn--primary {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--primary:hover {
  background: rgb(230, 105, 105);
}
.btn--secondary {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--secondary:hover {
  background: rgb(230, 105, 105);
  }
.btn--accent {
  background: rgb(247, 85, 86);
  color: white;
}
.btn--accent:hover {
  background: rgb(230, 105, 105);
}
